<% title 'About' %>

<div class="row text-center header-short">
  <h1>About</h1>
  <div class="col-md-2"></div>
  <div class="col-md-3 col-sm-12">
    <center><%= image_tag('jenny.jpg', class: 'behave-your-width-img center-block img-responsive') %></center>
  </div>
  <div class="col-md-5 col-sm-12 text-justify">
    <p>
      Hi! I'm Jenny. Over the years, I've spent so much time trying to find things that actually fit me and my 4'11" stature. Clothes, desks, chairs, bathroom mirrors, kitchen cabinets, airplane seats, restaurant tables, you name it. It makes sense that everything is made for the average person, but that doesn't make it any easier for us petites!
    </p>
    
    <p>
      The Petite Life was borne out of my desire to foster a community for petites to share their experiences and resources. I hope you join us in bringing awareness to The Petite Life movement!
    </p>
  </div>
  <div class="col-md-2"></div>
</div>
<br><br> 