<div class="row spacer-row text-center">
  <%= image_tag('tpl-logo-black-446x250.png', class: 'center-block img-responsive') %>
  <h2>A community for petites, by petites!</h2>
    <div class="col-md-2"></div>
    <div class="col-md-8 text-justify">
      <p>
        This is a place where we can help each other find things that fit and that make our lives a little easier.
      </p>
      <p>
      If you can relate to any of the following, you're in the right place!
        <ul>
          <li>Pants that are way too long.</li>
          <li>Capris look like high waters on you.</li>
          <li>Sleeves that go halfway down your hands.</li>
          <li>Not being able to see around other people, especially at shows or festivals.</li>
          <li>Your feet not touching the ground when you sit down. Whether that's at a restaurant, at work, or on an airplane.</li>
          <li>Not being able to reach something while using a step stool.</li>
          <li>Trying to drive while facing the sun. Why does the sun visor extend horizontally, but not vertically?</li>
        </ul>
      </p>
      <p>
        The community needs your help to grow. To start contributing, please <%= link_to "Sign Up", new_user_registration_path, class: 'shadows btn btn-default' %>
      </p>
    </div>
    <div class="col-md-2">
    </div>
  </div><br><br> 
</div>
