<div class="shadow-box">
  <div class="row spacer-row text-center">
    <h2>Comments</h2>
    <%= link_to new_article_comment_path(@article), class: 'shadows btn btn-default' do %>
      <i class="fa fa-plus fa-lg"></i>&nbsp; Comment
    <% end %>
  </div>

  <div class="panel-body">
    <hr>
    <div id="comments">
      <%= render @comments %>
    </div>
    <br>

    <div class="num_entries pagination-info text-center">
      <%= page_entries_info @comments, remote: true %>
    </div>

    <div class="paginate text-center">
      <%= paginate @comments, remote: true %>
    </div>
  </div>
</div>
