<div class="field">
  <h3>
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </h3>
  <%= f.password_field :password, autocomplete: 'off', class: 'form-control input-lg estimate-password' %>
</div>
