<div class="col-sm-6 col-md-3">
  <center>
    <div class="thumbnail">
      <%= link_to (image_tag article.image.url(:thumb), class: 'image'), article %>
      
      <div class="caption">
        <h4><%= article.name %></h4>
        <% if can? :update, article %>
            <%= link_to 'Edit', edit_article_path(article) %>
        <% end %>
        
        <% if can? :destroy, article %>
           | <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </center>
</div>