<% title @tag.name %>

<div class="text-center header-short">
  <h1>Tagged <span class="shadows label-tag-big"><%= @tag.name %></span></h1>
</div>

<%= render 'shared/category_tag' %>
<%= render 'shared/star_rating_read_only' %>