<div class="form-container">
  <h1>Editing Resource</h1>
  <%= render 'form' %>
  <br />
  <%= link_to 'Show this reference', @reference %> | 
  <%= link_to 'Back to all references', references_path %>
</div>