<center>
  <h1>Resources Index</h1>
  <% if can? :create, Reference %>
    <p>Looks like you can add a new resource!<br />
    <%= link_to 'Add new resource', new_reference_path, class:'btn btn-default' %>
    <br /></p>
  <% end %>
</center>

<ul class="list-group">
  <% @references.each do |reference| %>
    <li class="list-group-item">
      <h4>
        <%= link_to reference.name, reference.uri, target: 'blank' %>
      </h4>
      [ <%= link_to 'View resource', reference_path(reference) %>
      <% if can? :update, reference %>
         | <%= link_to 'Edit resource', edit_reference_path(reference) %>
      <% end %> ]
    </li>
  <% end %>
</ul>