<div class="field">
  <h3><%= f.label :image, 'Featured Image' %></h3>
  <%= f.file_field :image, class: 'inputfile' %>
  <%= f.label :image, 'Choose File' %>
  <% if resource.image.exists? %>
    <br>
    <%= image_tag(resource.image.url(:thumb), class: 'center-block img-responsive') %>
    <br>
  <% end %>
</div>