// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap_variables";
@import "bootstrap";
@import "bootstrap_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";

.form-container {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}