.search {
  input {
    font-size: 16px;
    color: $white;
    background-color: $black;
    border: 1px solid $black;
  }

  .btn-search {
    @include transition(all 0.5s ease);
  }

  &:hover .btn-search {
    color: $pink;
  }
}

input[type="text"]:not([name="query"]),
input[type="email"],
input[type="password"],
textarea.input-lg,
.redactor-box {
  @include transition(all 0.5s ease);
  @include shadows;
  border: 1px solid $white;

  &:active,
  &:focus,
  &:hover {
    @include shadows-hover;
  }

  &:active,
  &:focus {
    border-color: $cyan;
  }
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;

  +label {
    cursor: pointer;
    display: inline-block;

    // &:hover {
    //   @include shadows-hover;
    // }
  }

  &:not(:checked) + label {
    background-color: $white;
    color: $black;
    border-color: $white;    
  }

  + label:before {
    font-family: FontAwesome;
    content: "\f096";
    letter-spacing: 10px;
  }

  &:checked + label:before {
    content: "\f00c";
    letter-spacing: 6px;
  }
}

.redactor-editor {
  border: none;
  
  p {
    font-family: "Lato";
    font-size: 16px;
  }
}

#redactor-modal-box {
  text-align: center;
}

#redactor-modal {
  width: 30%;
  color: $black;
  background-color: $white;

  section {
    padding: 5%;
  }

  header {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 22px;
  }
}

#redactor-droparea {
  @include box-shadow-glow(0 0 3px $cyan);
  border: 1px solid $cyan;
  padding: 5%;
}

#redactor-droparea-placeholder {
  &:before {
    font-family: FontAwesome;
    font-size: 300%;
    content: "\f0ee";
  }
  
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: $black;
  background-color: $white;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label,
  + label[for="article_image"],
  + label[for="product_image"] {
    font-family: "Lato";
    font-size: 16px;
    font-weight: normal;
    color: $white;
    background-color: $black;
    text-align: center;
    width: 100%;
    padding: 0.5%;
    @include shadows;
    @include transition(all 0.5s ease);
    cursor: pointer;
  }

  &:hover + label,
  + label:hover {
    color: $pink;
    @include shadows-hover;
  }
}

input[type="submit"] {
  width: 100%;
}

.form-control[disabled] {
  background-color: rgba(0,0,0,0.04);
  opacity: 0.5;
  border: 1px solid rgba(0,0,0,0.04) !important;
}

textarea {
  resize: none;
}