// nav links
.navbar,
.navbar-nav > li > a,
.navbar-btn.navbar-right > div > a,
.navbar .dropdown,
#account-logout-dropdown > li > a {
  @include transition(all 0.5s ease-in-out);
}

// primary nav: black text logo on white bg
.navbar {
  z-index: 2000;
  @include box-shadow-glow(0px 1px 4px 0px $cyan);

  &.animated {
    @include animation(0.6s, 0.1s, 1);
  }

  &-fixed-top {
    padding: 3px 5px 3px 13px; 
  }

  &-header {
    padding-right: 10px;
  }

  &-brand {
    font-family: "Montserrat";
    font-size: 40px;
  }

  &-brand-logo {
    background: asset-url('tpl-logo-black-small-lotus-365x70.png') no-repeat;
    width: 365px;
    height: 70px;

    &-hover-preload {
      background: asset-url('tpl-logo-white-small-lotus-365x70.png') no-repeat -9999px -9999px;
    }
  }

  &-nav {
    font-family: "Lato";
    font-size: 18px;
  }

  &-toggle {
    z-index: 3;
    background-color: $black;
  }
}

// dropdown menu width + remove gap
.dropdown {
  .dropdown-menu {
    min-width: 100%;
    margin: -1px 0 0;
    color: $white;
    background-color: $black;

    &#account-logout-dropdown {
      // min-width: 100%;
    }
  }
}

// scrolled nav: white text logo on black bg
.navbar.scrolled {
  background: $black;
  @include box-shadow-glow(0px 1px 4px 0px $cyan);
  
  .navbar-brand-logo {
    background: asset-url('tpl-logo-white-small-lotus-365x70.png') no-repeat;
  }

  &.navbar-inverse .navbar-nav > li > a {
    color: $white;
    
    &:hover,
    &:focus {
      color: $pink;
    }
  }

  &.navbar-inverse .navbar-nav > .active > a {
    color: $cyan;

    &:hover,
    &:focus,
    &:visited {
      color: $cyan;
    }
  }
}

// collapsed nav, hamburger menu
.navbar-collapse.collapse.in {
  max-height: none;
  overflow: visible;

  .navbar-nav {
    padding-right: 15px;
  }

  .navbar-btn.navbar-right {
    margin-left: -10px;
  }
}

// collapsed nav, hamburger menu, scrolled (white text logo on black bg)
.navbar.scrolled {
  .navbar-collapse.collapse.in {
  }
}

// mobile optimization
@media(max-width:480px) {
  .navbar {
    min-height: 60px;

    &-brand-logo {
      background: asset-url('tpl-logo-black-small-lotus-209x40.png') no-repeat;
      width: 209px;
      height: 40px;
      position: absolute;
      top: 17px;

      &-hover-preload {
        background: asset-url('tpl-logo-white-small-lotus-209x40.png') no-repeat -9999px -9999px;    
      }
    }

    &.scrolled {
      .navbar-brand-logo {
        background: asset-url('tpl-logo-white-small-lotus-209x40.png') no-repeat;
      }
    }
  }
}

// override weird Bootstrap rules
@media (max-width: 990px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu {
    color: $white;
    background-color: $black;

    > li > a {
      color: $white;
    }
  }
}

// home page nav: uses scrolled nav (white text logo on black bg)
.navbar-home {
  display: none;

  &.animated {
    @include animation(1s, 0.1s, 1);
  }    
}
