<div class="container-fluid">
  <h3>Articles</h3>
  <% if category.articles.any? %>
    <%= render partial: 'articles/article', collection: category.articles %>
  <% else %>
    <p>No articles found</p>
  <% end %>
</div>

<div class="container-fluid">
  <h3>Products</h3>
  <% if category.products.any? %>
    <%= render partial: 'products/product', collection: category.products %>
  <% else %>
    <p>No products found</p>
  <% end %>
</div>

<div class="container-fluid">
  <h3>Resources</h3>
  <% if category.references.any? %>
    <%= render partial: 'references/reference', collection: category.references %>
  <% else %>
    <p>No references found</p>
  <% end %>
</div>