<%= form_for @category, html: { role: 'form' } do |f| %>
  <%= render 'forms/errors', resource: @category, resource_name: 'category' %>

  <div class="form-group">
    <%= render 'forms/title', f: f, title: 'Category Name' %>
    <%= render 'forms/submit', f: f, label: 'Save' %>
  </div>
<% end %>
