<div class="form-container">
  <h1>Editing Category</h1>
  <%= render 'form' %>
  <br />
  <%= link_to 'Show this category', @category %> |
  <%= link_to 'Back to all categories', categories_path %>
</div>