<% title 'All Categories' %>

<div class="row text-center header-short">
  <h1>All Categories</h1>
  <div class="col-xs-12 col-sm-6 col-md-6">
  </div>
  <% if can? :create, Category %>
    <div class="col-xs-12 col-sm-6 col-md-1 col-md-offset-5">
      <%= link_to new_category_path, class:'shadows btn btn-default pull-right' do %>
        <i class="fa fa-plus fa-lg"></i>&nbsp; Category
    <% end %>
    </div>
  <% end %>
</div>

<%= render 'shared/category_tag' %>
<%= render 'shared/star_rating_read_only' %>