<center>
  <h1>Categories Index</h1>
  <div class="row">
    <% @categories.each do |category| %>
      <p>
        <%= link_to category.name, category_path(category) %>
        <% if can? :update, category %>
           | <%= link_to 'Edit category', edit_category_path(category) %>
        <% end %>
      </p>
    <% end %>
  </div>
</center>

<% if can? :create, Category %>
  <div class="form-container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Looks like you can add a new category!</h4>
      </div>
      <div class="panel-body">
        <%= link_to 'Add New Category', new_category_path, class:'btn' %>
      </div>
    </div>
  </div>
<% end %>