<center>
  <h1>All Categories</h1>
  <% if can? :create, Category %>
    <p>
      Looks like you can add a new category!<br />
      <%= link_to 'Add new category', new_category_path, class:'btn btn-default' %><br />
    </p>
  <% end %>
</center>

<div class="container-fluid">
  <h3>Articles</h3>
  <%= render partial: 'articles/article', collection: Article.all %>
</div>

<div class="container-fluid">
  <h3>Products</h3>
  <%= render partial: 'products/product', collection: Product.all %>
</div>

<div class="container-fluid">
  <h3>Resources</h3>
  <%= render partial: 'references/reference', collection: Reference.all %>
</div>