<h2>Life's too short to spend time worrying about the small stuff!</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in dapibus lacus. Pellentesque posuere mi vel ligula ultrices sagittis. Morbi efficitur aliquam massa, id iaculis sem venenatis eu. Quisque sit amet sem in risus pretium malesuada. Etiam convallis tincidunt sapien vitae consequat. Sed eu volutpat libero, at lobortis lacus. Donec gravida accumsan lorem quis congue. Maecenas auctor tellus at nunc accumsan, id elementum tellus faucibus. Maecenas vitae cursus libero. Pellentesque ultricies nisl dolor, ac porta orci suscipit eu. Ut accumsan rhoncus urna fermentum sodales. Vestibulum a fermentum nunc. Phasellus gravida pharetra purus feugiat vestibulum. Duis eget rutrum metus. Duis efficitur eu mauris eget dapibus. Etiam libero urna, vulputate dignissim erat eu, vehicula malesuada magna.
</p>
<br /><br /><br />
<center>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag product.image.url(:thumb), class: 'image'), product %>
          <div class="caption">
            <h3><%= product.name %></h3>
            <h4>Category: <%= product.category %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</center>

<%= link_to 'New Product', new_product_path, class:'btn' %>
