<center>
  <h1>Products Index</h1>
  <% if can? :create, Product %>
    <p>Looks like you can add a new product!<br />
    <%= link_to 'Add new product', new_product_path, class:'btn btn-default' %>
    <br /></p>
  <% end %>

  <div class="row">
    <%= render @products %>
  </div>
</center>