<footer class="text-center">
  <div class="banner">
    <h4><em>
    And though she be but little, she is fierce.<br>
    - Shakespeare
  </em></h4>
  <p><a href="https://unsplash.com/photos/0LU4vO5iFpM" target="_blank">Background Credit</a></p>
  </div>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-102646406-1', 'auto');
    ga('send', 'pageview');

  </script>
</footer>
