<div class="container-fluid">
  <footer class="text-center">
    <h4><em>
      And though she be but little, she is fierce.<br />
      - Shakespeare
    </em></h4>
    <p><a href="https://unsplash.com/photos/0LU4vO5iFpM" target="_blank">Background Credit</a></p>
  </footer>
</div>