<nav class="navbar navbar-inverse navbar-fixed-top animated">
  <div class="container-fluid">
    <%= render 'layouts/nav_header' %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <%= render 'layouts/nav_links' %>
      <%= render 'layouts/signup_login' %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
  $(document).ready(function() {
    var fixedNavShown = false;
    var $navBar = $('.navbar');
    var $window = $(window);

    var handleScroll = function() {
      var scrollTop = $window.scrollTop();

      if ( scrollTop > 0 && !fixedNavShown ) {
        fixedNavShown = true;
        $navBar.toggleClass('scrolled', fixedNavShown);

      } else if ( scrollTop == 0 && fixedNavShown ) {
        fixedNavShown = false;
        $navBar.toggleClass('scrolled', fixedNavShown);
      }
    }

    $(window).on('scroll', _.throttle(handleScroll, 100));
  });
</script>
