<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <%= render 'layouts/nav_header' %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <%= render 'layouts/nav_links' %>
      <%= render 'layouts/signup_login' %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
function checkScroll(){
    var startY = $('.navbar').height() * 1.5; //The point where the navbar changes in px
    var isScrolled = $(window).scrollTop() > startY;
    $('.navbar').toggleClass("scrolled", isScrolled);
}

if($('.navbar').length > 0){
    $(window).on("scroll load resize", function(){
        checkScroll();
    });
}
</script>