<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <%= render 'layouts/nav_header' %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <%= render 'layouts/nav_links' %>
      <%= render 'layouts/signup_login' %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
