<nav class="navbar navbar-inverse navbar-fixed-top navbar-home scrolled animated">
  <div class="container-fluid">
    <%= render 'layouts/nav_header' %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse text-right">
      <%= render 'layouts/nav_links' %>
      <%= render 'layouts/signup_login' %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="banner animated fadeIn">
  <%= image_tag('tpl-logo-white-446x250.png', class: 'banner-logo img-responsive animated fadeIn') %>
</div>

<div class="push-content-down">
  <div class="banner-nav">
  </div>
</div>

<div class="scroll-down animated fadeInUp">
<i class="fa fa-angle-double-down white-text text-center"></i>
</div>

<div class="horizontal-bar-cyan">
</div>

<script>
  $(document).ready(function() {
    var fixedNavShown = false;
    var $navBar = $('.navbar-home');
    var $window = $(window);
    var arrowShown = true;
    var $scrollDown = $('.scroll-down');

    var handleScroll = function() {
      var scrollTop = $window.scrollTop();

      if ( scrollTop > 270 && !fixedNavShown ) {
        fixedNavShown = true;
        $navBar.toggleClass('fadeInDown', fixedNavShown);
        $navBar.toggleClass('fadeOutUp', !fixedNavShown);
        $navBar.css({ 'display': 'block' })
      } else if ( scrollTop <= 270 && fixedNavShown ) {
        fixedNavShown = false;
        $navBar.toggleClass('fadeInDown', fixedNavShown);
        $navBar.toggleClass('fadeOutUp', !fixedNavShown);
      }
    }

     var scrollArrow = function() {
      var scrollTop = $window.scrollTop();

      if ( scrollTop > 32 && arrowShown ) {
        arrowShown = false;
        $scrollDown.toggleClass('fadeOut', !arrowShown);
        $scrollDown.toggleClass('fadeInUp', arrowShown);
        $scrollDown.css({ 'display': 'none' })
      } else if (scrollTop <= 32 && !arrowShown) {
        arrowShown = true;
        $scrollDown.toggleClass('fadeOut', !arrowShown);
        $scrollDown.toggleClass('fadeInUp', arrowShown);
        $scrollDown.css({ 'display': 'block' })
      }
    }

    $(window).on('scroll', _.throttle(handleScroll, 100));
    $(window).on('scroll', _.throttle(scrollArrow, 100));
  });
</script>
