<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-brand-logo-hover-preload"></div>
  <a class="navbar-brand navbar-brand-logo" href="/">
    <div class="visually-hidden">
      <span class="cyan-text">The</span> 
      <span class="black-text">Petite </span>
      <span class="pink-text">Life</span>
    </div>
  </a>
</div><!-- /navbar-header -->