<div class="row">
  <div class="col-xs-12">
    <%= form_tag search_path, method: :get, html: { role: 'search' } do %>
      <div class="input-group input-group-lg shadows search">
        <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: "What petite-friendly things are you looking for?", maxlength: 40 %>
        <div class="input-group-btn">
          <button type="submit" class="shadows btn btn-default btn-search"><span class="fa fa-search"></span></button>
        </div>
      </div>
    <% end %>
  </div>
</div>
