<ul class="nav navbar-nav">
  <% if user_signed_in? %>
    <li><%= active_link_to current_user.full_name, edit_user_registration_path, wrap_tag: 'li', active: :exclusive %></li>
    <li><%= active_link_to "Log Out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= active_link_to "Sign Up", new_user_registration_path, wrap_tag: 'li', active: :exclusive %></li>
    <li><%= active_link_to "Log In", new_user_session_path, wrap_tag: 'li', active: :exclusive  %></li>
  <% end %>
</ul><!-- /.signup-login -->